@model DomainObjectModel

@{
    ViewBag.Title = Html.LocalizationString("new_domainobject_view_title");
}

<div class="row">
    <h3>@ViewBag.Title</h3>
    <hr />
</div>

<div class="row">
    <div class="col-md-6">

        @Html.Partial("_Msg")

        @if (!Model.IsOk)
        {
            <form method="post">

                <div class="form-group">
                    <label for="Name">@Html.LocalizationString("name")</label>
                    <input id="Name" name="Name" type="text" class="form-control" value="@Model.Name" required />
                </div>

                @Html.AntiForgeryToken()
                
                <input id="btnSave" name="FormButton" type="submit" class="btn btn-primary" value="@Html.LocalizationString("btn_save")" />
                <input id="btnSaveAndNew" name="FormButton" type="submit" class="btn btn-info" value="@Html.LocalizationString("btn_save_and_new")" />
                
            </form>
        }
    </div>

</div>